@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roobert";
  src: url("./font/RoobertTRIAL-Light-BF67243fd502239.otf")format("opentype");
}
@font-face {
  font-family: "Roobert1";
  src: url("./font/RoobertTRIALVF-BF67243fd545701.ttf")format("truetype");
}

body {
  margin: 0;
  font-family:"Roobert",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
